.swiper {
    width: 85%;
    max-height: 500px;
    cursor: -webkit-grab;
    cursor: grab;
}

@media (min-width: 1400px) {
    .mobile-slide {
      display: none;
    }
  }
  @media (min-width: 1200px) {
    .mobile-slide {
      display: none;
    }
  }
  @media (min-width: 992px) {
    .mobile-slide {
      display: none;
    }
  }


  @media (max-width: 992px) {
    .dextop-grid {
      display: none;
    }
  }
  

  