.sidebar {
    background: white;
    transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
    right: -100%;
    position: fixed;
    z-index: 100;
    margin-top:500px;
    width: 50%;
}
.open {
    right: 0%!important;
}
