@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: estedad;
  src: url("./assets/fonts/Estedad-v5.0-Fontjo.com/estedad.woff2");
}
* {
  font-family: estedad;
}
body {
  font-family: estedad;
}
button,
input {
  font-family: estedad;
  cursor: pointer;
}
footer hr {
  width: 1224px;
  height: 3px;
  background-color: #ededed;
}
#root{
  font-family: inherit;
}
#container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media  screen and (min-width: 576px){
  #container {
    width: 540px;
    
  }
}
@media  screen and (min-width: 768px){
  #container {
    width: 750px;


  }
}
@media  screen and (min-width: 992px){
  #container {
    width: 970px;
    

  }
}
@media  screen and (min-width: 1200px){
  #container {
    width: 1170px;
  }
}
@media  screen and (min-width: 1400px){
  #container {
    width: 1320px;
  }
}

