@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: estedad;
  src: url("./assets/fonts/Estedad-v5.0-Fontjo.com/estedad.woff2");
}
* {
  font-family: estedad;
}
body {
  font-family: estedad;
}
button,
input {
  font-family: estedad;
  cursor: pointer;
}
footer hr {
  width: 1224px;
  height: 3px;
  background-color: #ededed;
}
#root{
  font-family: inherit;
  
}
.custom-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media  screen and (min-width: 576px){
  .custom-container {
    width: 540px;
    
  }
}
@media  screen and (min-width: 768px){
  .custom-container {
    width: 750px;


  }
}
@media  screen and (min-width: 992px){
  .custom-container {
    width: 970px;
    

  }
}
@media  screen and (min-width: 1200px){
  .custom-container {
    width: 1170px;
  }
}
@media  screen and (min-width: 1400px){
  .custom-container {
    width: 1320px;
  }
}

.custom-container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media  screen and (min-width: 576px){
  .custom-container-fluid {
    width:100%;

  }
}
@media  screen and (min-width: 768px){
  .custom-container-fluid {
    width:100%;


  }
}
@media  screen and (min-width: 992px){
  .custom-container-fluid {
    width:100%;


  }
}
@media  screen and (min-width: 1200px){
  .custom-container-fluid {
    width:100%;
  }
}
@media  screen and (min-width: 1400px){
  .custom-container-fluid {
    width:100%;
  }
}


@media (max-width: 1024px) {
  .hidden-mobile {
    display: none;
  }
}
@media (min-width: 970px){
  .hidden-mobile{
    width: 85%;
    margin-right: 70px;
   
    
  }
}
@media (min-width: 1070px){
  .hidden-mobile{
    width: 85%;
    margin-right: 85px;
   
    
  }
}
@media (min-width: 1320px){
  .hidden-mobile{
    width: 85%;
    margin-right: 95px;
   
    
  }
}

.cloud{
  position: fixed;
  bottom: 100px;
  left: -400px;
  animation-name: flamelab-convo-widget_enter;
  animation-duration: 1.5s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1000;
  color: black;
  transition: left 0.5s ease-in-out;
}
.flamelab-cw-msg-box {
  background: white;
  width: 380px;
  border-radius: 20px 20px 20px 0 ;
  box-shadow: 0 0 20px rgba(0, 0, 0, .25);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  animation-name: flamelab-convo-widget_msg-appear;
  animation-duration: 2s;
  font-size: 15px;
  line-height: 23px;
}
.cloud.animated {
  left: 20px; /* Move on-screen */
  animation: fadeInUp 0.5s ease-in-out; /* Animation for fading in */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.card-container{
  background-color: rgba(255,255,255,.8);
  box-shadow: 0 2px 25px rgba(0,0,0,.1);
  padding: 0 1rem;
  height: 100%;
  border-radius: 10px
}

#style-1::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
