.contact-us-button{
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    padding:12px 8px;
    border-radius: 4px;
    background: var(--primary-shade-2, #11577A);
    flex-direction: row-reverse;
}

.material-textfield {
    position: relative;
}

.label {
    position: absolute;
    font-size: 1rem;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
}
.input-text-field {
    outline: none;
    border: 1px solid gray;
    border-radius: 8px;
    color: gray;
    transition: 0.1s ease-out;
}
.input-text-field:focus {
    border-color: #1D91CC;
}
.input-text-field:focus + label {
    color: #1D91CC;
    top: 0;
    transform: translateY(-50%) scale(.9);
}
/*.input-text-field:not(:placeholder-shown) + label {*/
/*    top: 0;*/
/*    transform: translateY(-50%) scale(.9);*/
/*}*/
.line{
    margin-top: 15px;
    border-top: 1px solid #F9F9F9;
}