.contact-us-button{
    display: flex;
    height: 66px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--primary-shade-2, #11577A);
    flex-direction: row-reverse;
}

.material-textfield {
    position: relative;
}

.label {
    position: absolute;
    font-size: 1rem;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
}
.input-text-field {
    font-size: 1rem;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1rem 0.7rem;
    color: gray;
    transition: 0.1s ease-out;
}
.input-text-field:focus {
    border-color: #1D91CC;
}
.input-text-field:focus + label {
    color: #1D91CC;
    top: 0;
    transform: translateY(-50%) scale(.9);
}
