.contact_us_button{
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    padding:12px 8px;
    border-radius: 4px;
    background: var(--primary-shade-2, #11577A);
    flex-direction: row-reverse;
}
.material-textfield {
    position: relative;
}
.label {
    position: absolute;
    font-size: 1rem;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
}
.input_text_field {
    padding-right: 10px;
    outline: none;
    border: 1px solid gray;
    border-radius: 8px;
    color: gray;
    transition: 0.1s ease-out;
}
.input_text_field:focus {
    border-color: #1D91CC;
}
.input_text_field:focus + label {
    color: #1D91CC;
    top: 0;
    transform: translateY(-50%) scale(.9);
}
.selected_input_text_field{
    border:1px solid gray;
    border-radius: 8px;
    padding-right: 10px;
}
.selected_input_text_field + label{
    color: gray;
    top: 0;
    transform: translateY(-50%) scale(.9);
    outline: none;
    transition: 0.1s ease-out;
}
.selected_input_text_field:focus {
    outline: none;
    border-color:#1D91CC;
}
.selected_input_text_field:focus + label{
    color: #1D91CC;
}
.line{
    margin-top: 15px;
    border-top: 1px solid #EDEDED;
}
.bubble{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background:#f1f1f1;
    border-radius:50%;
    opacity:0.5;
    animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    animation-duration:8s;
}
.bubble:nth-child(2){
    width:20px;
    height:20px;
    left:20%;
    animation-duration:5s;
    animation-delay:1s;
}
.bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
}
.bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
}
.bubble:nth-child(5){
    width:35px;
    height:35px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
}
.bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
}
.bubble:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
}
.bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
}
.bubble:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    animation-duration:5s;
    animation-delay:1s;
}
.bubble:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
}
@keyframes rise{
    0%{
        bottom:-100px;
        transform:translateX(0);
    }
    50%{
        transform:translate(100px);
    }
    100%{
        bottom:1080px;
        transform:translateX(-200px);
    }
}